<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Congregentur</title>
</head>
<body>

    <div class="container">

        <header>
            <div class="header-container">
                <img src="http://localhost:8080/images/header_img.png" alt="header_logo" width="50" height="50">
                <navbar>
                    <ul style="display: flex; align-items: center; justify-content: space-between;">
                        <li><a th:href="@{~/api/books}">Books</a></li>
                        <form th:action="@{~/api/books/search}">
                            <input  style="padding: 10px;" th:name="keyword" type="search" placeholder="title, isbn or author" aria-label="Search">
                        </form>
                    </ul>
                </navbar>
            </div>
        </header>

        <section>
            <div class="content">
                <h1 class="content-title">Books</h1>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.id}">Id</td>
                            <td th:text="${book.title}">Title</td>
                            <td th:text="${book.author}">Author</td>
                            <td th:text="${book.isbn}">ISBN</td>
                            <td>
                                <a th:href="@{'/api/books/edit/' + ${book.id}}">EDIT</a>
                                <a href="#">DELETE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
    
</body>
</html>