<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Congregentur</title>
</head>
<body>

    <div class="container">

        <header>
            <div class="header-container">
                <img src="http://localhost:8080/images/header_img.png" alt="header_logo" width="50" height="50">
                <navbar>
                    <ul>
                        <li><a th:href="@{~/api/books}">Books</a></li>
                    </ul>
                </navbar>
            </div>
        </header>

        <section>
            <div class="content" style="width: 30%;">
                <h1 style="font-size: 2.5em;">Edit book</h1>
                <form action="#" th:action="@{'/api/books/edit/' + ${book.id}}" method="post" style="border: 1px solid #383838; border-radius: 5px; margin-top: 10px; padding: 10px;">
                    <p th:text="'Current title: ' + ${book.title}">title</p>
                    <input th:name="title" type="text" id="title" name="title" minlength="1" style="padding: 5px; margin: 10px 0px;"><br>

                    <p th:text="'Current author: ' + ${book.author}">author</p>
                    <input th:name="author" type="text" id="author" name="author" minlength="1" style="padding: 5px; margin: 10px 0px;"><br>

                    <p th:text="'Current ISBN: ' + ${book.isbn}">isbn</p>
                    <input th:name="isbn" type="text" id="isbn" name="isbn" minlength="13" maxlength="13" style="padding: 5px; margin: 10px 0px;"><br>
                    <p>
                        <input type="submit" value="Submit"/>
                        <input type="reset" value="Reset"/>
                    </p>
                </form>
            </div>
        </section>

    </div>
    
</body>
</html>